nav{
    width: 100%;
    max-width: 980px;
    height: 92px;
    margin: 0 auto;
    padding: 0 20px;
    border-bottom: solid 2px #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    .logo{
        width: 92px;
        height: 42px;
        // background-color: indigo;

        img{
            width: 92px;
            height: 42px;
            // object-fit: cover;
        }
        
    }

    .links{
        // background-color: aquamarine;
        width: 498px;
        display: flex;
        justify-content: space-between;
        color: #79ADDC;


        a{
            text-decoration: none;
            color: #fff;
            font-family: GillSans;
            font-size: 15px;
        }
    }

}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
        margin: 0 auto;
        width: 100%;
    }

        .links {
            width: 100%;
            display: none;
            align-items: center;
            padding: 10px 0;
            gap: 10px;
        }

        .logo{
            width: 100%;
        }
}

@media screen and (max-width: 480px) {
   nav{
    width: 100%;
    margin: 0 auto;
   }

   .links{
    width: 20%;
    flex-wrap: wrap;
    padding-left: 15px;
   }
}
        