.three-pics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: absolute;
    top: 530px;
    left: 18%;
    width: 65%; 
    // background-color: aqua;

    div {
        width: 236px;
        height: 304px;
        text-align: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.pics1 {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-01.jpg);
        }

        &.pics2 {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-02.jpg);
        }

        &.pics3 {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour-03.jpg);
        }

        .pic-title {
            font-size: 60px;
            font-family: ProximaNovaExtraCondensed;
            color: #fff;
            // background-color: blue;
            margin-top: -30px;

        }

        .pic-text {
            font-size: 30px;
            font-family: ProximaNovaExtraCondensed;
            color: #fff;
            // background-color: blue;
            margin-top: -25px;
            margin-bottom: 50px;
        }

        button {
            width: 133px;
            height: 40px;
            background-color: #79ADDC;
            font-family: GillSans;
            color: #fff;
            font-size: 15px;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            margin-bottom: -20px;
        }
    } 
}

@media (max-width: 1024px) {

        .pic-title {
            font-size: 40px;
        }

        .pic-text {
            font-size: 20px;
        }
    }

@media (max-width: 768px) {
    .three-pics {
        flex-direction: column;
        align-items: center;
        bottom: 0; 
        position: relative; 
        margin-top: -500px;
        margin-bottom: 550px;

        div {
            width: 80%;
            height: 250px;
            margin-bottom: 10px; 

            .pic-title {
                font-size: 35px;
            }

            .pic-text {
                font-size: 18px;
            }

            button {
                width: 120px;
                height: 35px;
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 480px) {
    .three-pics {
        div {
            width: 90%;
            height: 250px;

            .pic-title {
                font-size: 30px;
            }

            .pic-text {
                font-size: 16px;
            }

            button {
                width: 110px;
                height: 30px;
                font-size: 12px;
            }
        }
    }
}